.theme--light.v-application {
    background: #d7e0e0;
    /*background: linear-gradient(0deg, white calc(100% - 400px), #435562 400px);*/
    /*background: url('/stock-pick-challenge.jpg') no-repeat;*/
    /*background-size: 100% 400px;*/
}

.primary-delta-gain {
    color: #1b5e20;
    font-weight: bold;
}

.primary-delta-loss {
    color: #bf360c;
    font-weight: bold;
}

.primary-delta-none {
    font-weight: bold;
}

.secondary-delta-gain {
    color: #1b5e20;
    font-size: smaller;
}

.secondary-delta-loss {
    color: #bf360c;
    font-size: smaller;
}

.secondary-delta-none {
    font-size: smaller;
}
