body {
    /* Match font used by Vuetify for DOM elements programmatically-added to body */
    font-family: 'Roboto', sans-serif;
}

.v-theme--light.v-application {
    background: #dfe8e8;
    /*background: linear-gradient(0deg, white calc(100% - 400px), #435562 400px);*/
}

.v-application ul {
    padding-left: 24px;
}

.v-application .v-card .v-card-text {
    line-height: 1.375rem; /* default is 1.25rem */
}

.primary-delta-gain {
    color: #1b5e20;
    font-weight: bold;
}

.primary-delta-loss {
    color: #bf360c;
    font-weight: bold;
}

.primary-delta-none {
    font-weight: bold;
}

.secondary-delta-gain {
    color: #1b5e20;
    font-size: smaller;
}

.secondary-delta-loss {
    color: #bf360c;
    font-size: smaller;
}

.secondary-delta-none {
    font-size: smaller;
}

/* Link hover transitions */
a {
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

a:hover {
    color: #1a1a1a;
}
